/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

/* Navbar design */

nav {
  padding: 5px;
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

nav>p {
  font-size: 36px;
  color: rgba(230, 83, 60, 1);
  font-weight: bold;
  font-style: italic;
}

nav>div {
  border: 2px solid blue;
  display: flex;
  gap: 47px;
  align-items: center;
  border-radius: 40px;
  padding: 12px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

nav>span {
  margin-right: 5px;
  margin-top: 5px;
  display: none;
}

.home-btn {
  background-color: #e6533c;
  padding: 8px 20px;
  border-radius: 46px;
}

/* banner design */

.banner-container {
  min-height: 400px;
  padding: 10px;
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 96px;
}

.banner-left {
  min-height: 200px;
  width: 50%;
}

.banner-left h1 {
  font-size: 78px;
}

.banner-left p {
  margin-top: 28px;
  margin-bottom: 28px;
}

.btn-container>button {
  width: 200px;
  height: 54px;
  border-radius: 42px;
  border: none;
  color: white;
  gap: 14px;
}

.banner-right {
  min-height: 200px;
  width: 50%;
  display: flex;
  justify-content: end;
  position: relative;
}

.banner-right>img {
  width: 55%;
}

.tooltip {
  background-color: rgba(128, 128, 128, 0.226);
  position: absolute;
  right: 0;

  width: 193px;
  height: 98px;

  padding-left: 20px;
  padding-top: 20px;
  border-radius: 12px;
  top: 20%;
  right: -19%;
}

.tooltip2 {
  background-color: rgba(128, 128, 128, 0.342);
  position: absolute;
  left: 0;
  display: flex;

  width: 193px;
  height: 98px;

  padding-left: 20px;
  padding-top: 20px;
  border-radius: 12px;
  top: 60%;
  left: 19%;
  gap: 10px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e6533c;
  margin-top: 10px;
}

/* training section */

.training-section {
    
  width: 1050px;
  margin: 0 auto;
}

.training-section>h1{
  margin-top: 120px;
  font-size: 48px;
  font-weight: 900;
}

.training-section>p{
  font-size: 14px;
  letter-spacing: 0.3px;
}


.grid-container {
  max-width: 1060px;

  min-height: 300px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (2, 200px);
}

.grid-container div {
  position: relative;
}

.grid-container div p {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 10%;
}

.grid-container img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.box-2 {
  grid-column: 2/4;
}

.box-4 {
  grid-column: 1/ 3;
}

/* responsive */

@media screen and (max-width: 576px) {
  .menu-container {
    display: none;
  }

  nav>span {
    display: inline;
  }

  .banner-container {
    flex-direction: column;
  }

  .banner-left,
  .banner-right {
    width: 100%;
  }

  .btn-container {
    display: flex;
    gap: 5px;
  }

  .banner-right {
    justify-content: center;
  }

  .banner-right>img {
    width: 70%;
  }

  .tooltip {
    border-radius: 12px;
    top: 10%;
    right: 13%;
  }

  .training-section{
    width: 353px;
    
  }


  .training-section>h1{
    font-size: 32px;
    margin-bottom: 14px;
  }


  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-2,
  .box-4 {
    grid-column: auto;
  }

  .box-3,
  .box-6 {
    display: none;
  }
}