/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

/* Navbar design */

nav {
  padding: 5px;
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

nav > p {
  font-size: 36px;
  color: rgba(230, 83, 60, 1);
  font-weight: bold;
  font-style: italic;
}

nav > div {
  border: 2px solid blue;
  display: flex;
  gap: 47px;
  align-items: center;
  border-radius: 40px;
  padding: 12px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

nav > span {
  margin-right: 5px;
  margin-top: 5px;
  display: none;
}

.home-btn {
  background-color: #e6533c;
  padding: 8px 20px;
  border-radius: 46px;
}

/* banner design */

.banner-container {
  border: 2px solid red;
  min-height: 400px;
  padding: 10px;
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 96px;
}

.banner-left {
  border: 2px solid green;
  min-height: 200px;
  width: 50%;
}

.banner-left h1 {
  font-size: 78px;
}

.banner-left p{
    margin-top: 28px;
    margin-bottom: 28px;
}

.btn-container>button{
    width: 200px;
    height: 54px;
    border-radius: 42px;
    border: none;
    color: white;
    gap: 14px;
}

.banner-right {
  border: 2px solid blue;
  min-height: 200px;
  width: 50%;
  display: flex;
  justify-content: end;
}

.banner-right>img{
    width: 52%;
}

/* responsive */

@media screen and (max-width: 425px) {
  .menu-container {
    display: none;
  }

  nav > span {
    display: inline;
  }
}
