*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar design */

nav{
    border: 2px solid red;
    padding: 5px;
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;

}

nav>p{
    border: 2px solid green;
}

nav>div{
    border: 2px solid blue;
    display: flex;
    gap: 47px;
}